/* 
font and size for full document
styles for other classes will overide the general rules
URL for colors: https://coolors.co/ffc0cb-463f3a-95b2b8
*/
html{
    font-family: Helvetica, sans-serif;
}

.pagetitles {
    padding: 110px;
}

/* index */
.body{
    padding: 5px;
}

.Wrapper {
	display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
}
/* educationandcerts */


.logo {
  background:src="github-logo.png"; width:400px; height:400px;
  
  margin:0 auto;
}

/* projects */
.projbody {
    text-align: center;
    padding: 10px;
}


