/*styles n things*/
/* body and common styles */

html{
    font-family:"Inter";
    color:0D0C1D;
}


h1{
    font-size: 50px;
}

a{    
    color:0D0C1D;
}

.text-box{
    background-color:D9D9D9;
    box-shadow: none;
    border:none;
    width: 100%;
    height: 4%;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
    
}


.navbar{
    background-color: 0D0C1D;
    border-top:0px;
    height:10%;
}

/* Workout/Program displays */
.program-name{
    font-size:35px ;
}

/* Workout/Program displays inputs and buttons */
.workout-input-box{
    background-color:D9D9D9;
    box-shadow: none;
    border:none;
    text-align: center;
    margin-bottom: 15px;
}

.movement-input-box{
    box-shadow: none;
    border:none;
    font-size: 30px;
    margin-bottom: 15px;
}

.add-button{
    background-color: white;
    box-shadow: none;
    border:none;
    float: right;
    font-size: 25px;
}

.workout-button{
    background-color:D9D9D9;
    box-shadow: none;
    border:none;
    font-size: 25px;
    padding: 15px;
}

.inputWrapper{
    font-size: 25px;
}

/*appearing and disappearing text*/

.sneakytext{
    display:none;
}

.surprisetext{
    display:block;
}

